/* RESET */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
}

/* NAVBAR */

.barra-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: #303030;
  z-index: 1;
}

.bm-title {
  color: #cfcfcf;
  text-align: center;
}
.bm-title--container {
  width: 180px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
}

.bm-title--container:hover {
  border-radius: 32px 64px;
  background-color: #cfcfcf30;
}

.bm-list {
  display: flex;
}
.bm-list--li:hover a {
  text-decoration: underline;
}

.bm-list--li {
  list-style-type: none;
  padding: 20px;
}

.bm-list--li a {
  text-decoration: none;
  color: #cfcfcf;
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 10px;
}

/* GALERIA */

.galeria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  max-width: 800px;
}

.main-img--container {
  display: flex;
  justify-content: center;
}

.main-img {
  max-width: 100%;
  padding: 10px;
  filter: brightness(0.8) saturate(120%);
}

.box-image {
  max-width: 30%;
  height: 400px;
}

/* Extras */

.p-container {
  padding: 5px;
  max-width: 800px;
  text-align: center;
}

P {
  color: #cfcfcf;
}

h2 {
  color: #333;
  font-weight: 200;
  font-style: bold;
  text-decoration: underline;
}

/* Footer */

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
  background-color: #303030;
}

footer span {
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

/* Form */
form {
  text-align: left;
}

h4 {
  text-align: center;
}
